body {
	background-color: RGB(0, 158, 142);
	font-family: 'Roboto', sans-serif!important;
}
.header {

	border: 4px double black;
	background: yellow;
	font-size: 1.5em;
	text-align: center;
}
.text__header{
	margin: 20px;
}
.header__top {
	display: flex;
	justify-content: space-between;
}
.logo{
	margin: 12px;
}
.header__bottom{
	margin: 20px;
}
.columns {
	display: flex;
	justify-content: flex-start;
	padding: 0 10%;
	flex-wrap: wrap;
	flex-flow: row wrap;
    align-items: center;
    align-content: start;
}
.column {
	border: 2px rgba(0, 128, 255, 0.795) solid;
	border-radius: 5px;
	box-shadow: 0 0 5px #9b9999;
	word-wrap: break-word;
	min-width: 200px;
	padding: 1em;
	cursor: pointer;
	background-color: yellow;
	
}

.column__header {
	text-align: center;
	color: #9b9999;
}
.task {
	background-color: rgba(30, 143, 255, 0.15);
	margin-top: 1.5em;
	padding: 1em;
	color: #077ff8;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: auto;
}
.task__header {
	text-align: left;
	color: blue;
	margin-bottom: 1em;
	text-decoration: underline;
}
.task__buttons {
	color: #9b9999;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.task__buttons button {
	box-shadow: 0 0 5px #9b9999;
	margin-top: 1em;
	width: 100%;
	padding: 0.5em;
	background-color: rgba(0, 128, 255, 0.795);
	cursor: pointer;
	color:white;
	font-weight: 600;
	height: 50px;
}
.task__buttons button:hover {
	background-color: rgba(101, 177, 253, 0.795);
}
.modal{
	background-color: RGB(0, 158, 142);
}
.modal-theme{
	color: black;
}
.modal-header{
	color: black;
}
.btn btn-add{
	color: white;
	margin: 20px;
}
.footer{
    outline: 2px solid #000;
	background: yellow;
}
.text__end{
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
.text__theme{
	
}
.m-h-100 {
	min-height: 100vh;
}

.w3 {
    width: 420px;
}

.w2 {
    width: 250px;
}

.w1 {
    width: 150px;
}