body {
	background-color: RGB(0, 158, 142);
	font-family: 'Roboto', sans-serif!important;
}
.header {
	margin-top: 1em;
	border: 4px double black;
	background: yellow;
	font-size: 2em;
	text-align: center;
}
.text__header{
	margin: 20px;
}
.header__top {
	display: flex;
	justify-content: space-between;
}
.logo{
	margin: 12px;
}

.header__bottom{
	margin: 20px;
}
.modal{
	background-color: RGB(0, 158, 142);
}
.footer{
	border: 4px black;
	background: yellow;
}
.text__end{
	display: flex;
	justify-content: space-between;
}